# load packages

In [1]:
import pandas as pd
import numpy as np
import os

## set directory

In [2]:
os.getcwd()

'c:\\github\\soccer_data_statsbomb\\script'

In [3]:
os.chdir('c:\\github\\soccer_data_statsbomb')

# load data

## competitions

In [6]:
df_competitons = pd.read_json('data\\competitions.json')
df_competitons

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-09-28T20:46:38.893391,2025-07-06T04:26:07.636270,2025-07-06T04:26:07.636270,2024-09-28T20:46:38.893391
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-09-28T01:57:35.846538,None,None,2024-09-28T01:57:35.846538
3,16,4,Europe,Champions League,male,False,False,2018/2019,2025-05-08T15:10:50.835274,2021-06-13T16:17:31.694,None,2025-05-08T15:10:50.835274
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882
...,...,...,...,...,...,...,...,...,...,...,...,...
70,35,75,Europe,UEFA Europa League,male,False,False,1988/1989,2024-02-12T14:45:05.702250,2021-06-13T16:17:31.694,None,2024-02-12T14:45:05.702250
71,53,315,Europe,UEFA Women's Euro,female,False,True,2025,2025-07-28T14:19:20.467348,2025-07-29T16:03:07.355174,2025-07-29T16:03:07.355174,2025-07-28T14:19:20.467348
72,53,106,Europe,UEFA Women's Euro,female,False,True,2022,2024-02-13T13:27:17.178263,2024-02-13T13:30:52.820588,2024-02-13T13:30:52.820588,2024-02-13T13:27:17.178263
73,72,107,International,Women's World Cup,female,False,True,2023,2025-07-14T10:07:06.620906,2025-07-14T10:10:27.224586,2025-07-14T10:10:27.224586,2025-07-14T10:07:06.620906
74,72,30,International,Women's World Cup,female,False,True,2019,2024-08-08T15:57:56.748740,2021-06-13T16:17:31.694,None,2024-08-08T15:57:56.748740

In [8]:
df_competitons.shape

(75, 12)

In [10]:
df_competitons.columns

Index(['competition_id', 'season_id', 'country_name', 'competition_name',
       'competition_gender', 'competition_youth', 'competition_international',
       'season_name', 'match_updated', 'match_updated_360',
       'match_available_360', 'match_available'],
      dtype='object')

In [11]:
df_competitons.dtypes

competition_id                int64
season_id                     int64
country_name                 object
competition_name             object
competition_gender           object
competition_youth              bool
competition_international      bool
season_name                  object
match_updated                object
match_updated_360            object
match_available_360          object
match_available              object
dtype: object

In [12]:
df_competitons.describe()

       competition_id   season_id
count       75.000000   75.000000
mean        83.106667   90.066667
std        258.209300   97.953151
min          2.000000    1.000000
25%         11.000000   25.500000
50%         16.000000   42.000000
75%         43.000000  107.000000
max       1470.000000  315.000000

In [13]:
df_competitons.isnull().sum()

competition_id                0
season_id                     0
country_name                  0
competition_name              0
competition_gender            0
competition_youth             0
competition_international     0
season_name                   0
match_updated                 0
match_updated_360            18
match_available_360          64
match_available               0
dtype: int64

## matches

In [16]:
df_match_2_27 = pd.read_json('data\\matches\\2\\27.json')
df_match_2_27.head(1)

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,3754058,2016-01-02,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 27, 'season_name': '2015/2016'}","{'home_team_id': 22, 'home_team_name': 'Leices...","{'away_team_id': 28, 'away_team_name': 'AFC Bo...",0,0,available,processing,2021-10-29T23:44:19.940296,2021-06-12T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",20,"{'id': 1, 'name': 'Regular Season'}","{'id': 20, 'name': 'King Power Stadium ', 'cou...","{'id': 5, 'name': 'Andre Marriner', 'country':..."

In [18]:
df_match_2_27.shape

(380, 18)

In [19]:
df_match_2_27.dtypes

match_id              int64
match_date           object
kick_off             object
competition          object
season               object
home_team            object
away_team            object
home_score            int64
away_score            int64
match_status         object
match_status_360     object
last_updated         object
last_updated_360     object
metadata             object
match_week            int64
competition_stage    object
stadium              object
referee              object
dtype: object

In [20]:
df_match_2_27.describe()

           match_id  home_score  away_score  match_week
count  3.800000e+02  380.000000  380.000000  380.000000
mean   3.754162e+06    1.492105    1.207895   19.500000
std    1.098408e+02    1.259242    1.146955   10.980313
min    3.753972e+06    0.000000    0.000000    1.000000
25%    3.754067e+06    1.000000    0.000000   10.000000
50%    3.754162e+06    1.000000    1.000000   19.500000
75%    3.754256e+06    2.000000    2.000000   29.000000
max    3.754351e+06    6.000000    6.000000   38.000000

In [21]:
df_match_2_27.isnull().sum()

match_id             0
match_date           0
kick_off             0
competition          0
season               0
home_team            0
away_team            0
home_score           0
away_score           0
match_status         0
match_status_360     0
last_updated         0
last_updated_360     0
metadata             0
match_week           0
competition_stage    0
stadium              0
referee              0
dtype: int64

## three-sixty

In [22]:
pd.read_json('data\\three-sixty\\3788741.json')

,event_uuid,visible_area,freeze_frame
0,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,"[0.0, 27.7649873094419, 19.2332231959735, 17.3...","[{'teammate': False, 'actor': False, 'keeper':..."
1,776e11e0-9e85-4226-9f9e-edefa3685288,"[34.5953633899854, 77.2328373069048, 6.5972315...","[{'teammate': True, 'actor': False, 'keeper': ..."
2,bea4235d-7e40-461c-bb82-6d473f5bb324,"[34.5953633899854, 77.2328373069048, 6.5972315...","[{'teammate': True, 'actor': False, 'keeper': ..."
3,84b9b798-0fbe-45bc-a4bf-3621959f29ce,"[35.4292984462803, 78.5704958529984, 7.7187164...","[{'teammate': True, 'actor': False, 'keeper': ..."
4,6e2955cf-ad4f-4096-a4dd-053173a3802b,"[19.7831665231312, 80.0, 41.3426126170851, 0.0...","[{'teammate': True, 'actor': False, 'keeper': ..."
...,...,...,...
3365,3a176721-5ca0-43d8-813c-482a2688c932,"[0.0, 80.0, 0.0, 30.7709117714099, 13.95558739...","[{'teammate': True, 'actor': False, 'keeper': ..."
3366,98eaff6a-811b-4101-80ba-aa4bf7797d1f,"[0.0, 80.0, 0.0, 33.0363392144773, 12.95951717...","[{'teammate': False, 'actor': False, 'keeper':..."
3367,87f19c86-543d-4a7a-93bb-b576fe9be63d,"[0.0, 80.0, 0.0, 33.0363392144773, 12.95951717...","[{'teammate': True, 'actor': False, 'keeper': ..."
3368,9a782a08-27d0-4d77-908f-fdfde7e5f3a4,"[104.1532652775, 67.3224942956356, 84.40446024...","[{'teammate': False, 'actor': False, 'keeper':..."
3369,feb59f80-cefc-4dea-85ea-dfb9e4efb799,"[104.046891906434, 63.4526447290838, 84.382165...","[{'teammate': False, 'actor': False, 'keeper':..."